<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 10 App Store Genres Analysis</title>
    <link rel="stylesheet" href="static/analysis.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <h1>Sentiment App Analysis Website</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/app">Comparison</a></li>
            <li><a href="/analysis">Analysis</a></li>
            <li><a href="/about-us">About Us</a></li>
        </ul>
    </nav>
    <main>
        <h1>Top 10 App Store Genres for Google Play and Apple App Store</h1>
        <div class="chart-container">
            <h2>Google Play Store</h2>
            <canvas id="googleplayChart" width="400" height="200"></canvas>
        </div>
        <div class="chart-container">
            <h2>Apple App Store</h2>
            <canvas id="applestoreChart" width="400" height="200"></canvas>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Data Scientists</p>
    </footer>

    <script src="static\analysis.js"></script>
</body>
</html>
