<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Comparison</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <h1>Sentiment App Analysis Website</h1>
        <p id="datetime">
            <span id="date"></span>
            <span id="time"></span>
        </p>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/app">Comparison</a></li>
            <li><a href="/analysis">Analysis</a></li>
            <li><a href="/about-us">About Us</a></li>
        </ul>
    </nav>
    <main>
        <form id="appForm" method="post" action="/app">
            <div class="form-group">
                <label for="app_name">App Name:</label>
                <input type="text" id="app_name" name="app_name" required>
            </div>
            <div class="form-group">
                <label for="store">Choose Store:</label>
                <div class="radio-group">
                    <label>
                        <input type="radio" name="store" value="playstore" required> Google Play Store
                    </label>
                    <label>
                        <input type="radio" name="store" value="applestore"> Apple App Store
                    </label>
                    <label>
                        <input type="radio" name="store" value="both"> Both
                    </label>
                </div>
            </div>
            <button type="submit">Search</button>
        </form>

        <div id="results">
            {% if error_message %}
                <p class="error">{{ error_message }}</p>
            {% else %}
                <div class="results-container {% if comparison %}compare{% endif %}">
                    {% if playstore_info %}
                        <div class="store-info">
                            <h2>Google Play Store</h2>
                            <p><strong>App Name:</strong> {{ playstore_info['App'] }}</p>
                            <p><strong>Rating:</strong> {{ playstore_info['Rating'] }}</p>
                            <p><strong>Size:</strong> {{ playstore_info['Size'] }}</p>
                            <p><strong>Price:</strong> {{ playstore_info['Price'] }}</p>
                            <p><strong>App Version:</strong> {{ playstore_info['Current Ver'] }}</p>
                            <p><strong>Feedback:</strong> {{ feedback_playstore }}</p>
                            <p><strong>Sentiment:</strong> {{ feedback_sentiment_playstore }}</p>
                        </div>
                    {% endif %}
                    
                    {% if applestore_info %}
                        <div class="store-info">
                            <h2>Apple App Store</h2>
                            <p><strong>App Name:</strong> {{ applestore_info['track_name'] }}</p>
                            <p><strong>Rating:</strong> {{ applestore_info['user_rating_ver'] }}</p>
                            <p><strong>Size:</strong> {{ applestore_info['size_bytes'] }}</p>
                            <p><strong>Price:</strong> {{ applestore_info['price'] }}</p>
                            <p><strong>Version:</strong> {{ applestore_info['ver'] }}</p>
                            <p><strong>Feedback:</strong> {{ feedback_applestore }}</p>
                            <p><strong>Sentiment:</strong> {{ feedback_sentiment_applestore }}</p>
                        </div>
                    {% endif %}
                </div>
                
                {% if comparison %}
                    <div class="charts-container">
                        <h2>Comparisons</h2>
                        <canvas id="playstoreChart"></canvas>
                        <canvas id="applestoreChart"></canvas>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Data Scientists</p>
    </footer>
    <script src="static\app.js"></script>
</body>
</html>
