<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Sentiment App Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to Sentiment App Analysis</h1>
    </header>
    <main>
        <div class="welcome-container">
            <h2>Your App Store Data, Analyzed with Ease</h2>
            <p>Click the button below to get started with analyzing top apps from the Google Play Store and Apple App Store.</p>
            <a href="/AppSearch" class="get-started-button">Get Started</a>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Data Scientists</p>
    </footer>
</body>
</html>
